nav {
    background-color: #044a3a;
    #hamburger {
        background-color: #044a3a;

    }

    #home-logo {
       background-color: #044a3a; 
       border: 1.5px solid white;
       align-items: center;
       justify-content: center;
    }
}