footer {
  bottom: 0;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: fit-content;
  color: #044a3a;
  font-size: 1rem;
  text-align: right;
  background-color: #79d1c3;
  justify-content: center;
  align-items: center;
}
